<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>

    <!-- Search -->

  <div class="mb-2">
      <form class="form-inline my-2 my-lg-0">
          <!--onChangePhrase($event) metódus az input elem keyup eseményére.-->
          <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="User Name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>

    <!-- User List Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th id="id" (click)="setSorter('id')">#</th>
          <th id="name" (click)="setSorter('name')">Name</th>
          <th id="email" (click)="setSorter('email')">Email</th>
          <th id="address" (click)="setSorter('address')">Address</th>
          <th id="active" (click)="setSorter('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:'name' | sorter:key">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="onDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
